<section id="home" style="background-image: url(images/weby.jpg);">
    <header id="header" class="header-block-top">
        <div class="main-menu container">
            <nav class="navbar custom-navbar navbar-default" role="navigation" id="mainNav">
                <div class="navbar-header">
                    
                    <a href="/" class="logo .navbar-brand">
                        <img src="images/menalogo.png" alt="" height="60px" width="60px">

                        <h2 style="color: #fff;">WeBuyNCook</h2>
                    </a>

                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->

                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#order">Order Now</a></li>
                        <li><a href="/profile/cart">Cart<span class="badge">{{session.cart.totalQty}}</span></a></li>
                        <li><a href="#contact">Contact</a></li>
                        {{# if login}}
                            <div class="dropdown navbar-left">
                                <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src=/{{userImage}}>
                                </span>
                                <ul class="dropdown-menu" style="background:rgb(1,119,1)">
                                    <li style="margin-left: 2%;"><a href="/user/profile"><i  class="fa fa-user" aria-hidden="true"></i> Manage Account</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li style="margin-left: 2%;"><a href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                                </ul>
                            </div>
                            <li id="name" style="margin-top: -21px;text-decoration:none !important">
                                <a href="#" style=" color:red;font-size: 1.5rem !important;">{{firstName}} {{lastName}}</a>
                            </li>
                        {{else}}
                            <div class="dropdown navbar-left">
                                <span class="dropdown-toggle" id="menu1" data-toggle="dropdown">
                                    <img src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png">
                                </span>
                                <ul class="dropdown-menu" style="background:rgb(1,119,1)">
                                    <li style="margin-left: 2%;"><a href="/user/signup"><i class="fa fa-user" aria-hidden="true"></i>Register</a></li>
                                    <li style="margin-left: 2%;"><a href="/user/signin"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                                </ul>
                            </div>
                            <li id="name" style="margin-top: -21px;"><a href="">Guest</a></li>
                            
                        {{/if}}
                    </ul>
                </div>


            </nav>

        </div>
        {{#if success}}
        <div class="container alert alert-dismissible fade show" style="background-color:green;color: white;text-align:center;font-size:3em;padding:0px !important">
            {{#each successMsg}} <br>
            {{this}}
            {{/each}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
    </header>
    <div class="banner full-screen-mode parallax" <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1 style="font-size:60px;">Book a meal <span class="typer" id="some-id" data-delay="200"
                                data-delim=":"
                                data-words=" we&#039;ll handle the rest:we&#039;ll handle the rest:we&#039;ll handle the rest"
                                data-colors="red"></span><span class="cursor" data-cursorDisplay="_"
                                data-owner="some-id"></span></h1>
    
                        <br>
                        <br>
                        <br>
                        <div class="book-btn ">
                            <a href="#order" class="table-btn hvr-underline-from-center">Order Now</a>
                        </div>
                        <p></p>
                        <div class="book-btn">
                            <a href="#menu" class="table-btn hvr-underline-from-center">Visit Our Menu</a>
                        </div>
                        <a href="#about ">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
    </div>
    
   <style>
       .collapse li:hover{
           background: transparent !important;
       }
       .dropdown {
            position: relative;
            display: block;
}
       .dropdown-menu a:hover{
           background: transparent !important;
       }
    
       
   </style>

   <script>
       function responsive(x){
           var name = document.getElementById('name')
           if(x.matches){
               if (name.style.visibility === "hidden") {
               name.style.visibility= "visible";
           } else {
               name.style.visibility= "hidden";

           }
        }else{
             name.style.visibility = "visible"
        }
           
       }

       var x = window.matchMedia("(max-width: 992px)")
        responsive(x) // Call listener function at run time
        x.addListener(hideme) // Attach listener function on state changes
       
   </script>

</section> 