{{>header }}


  <body data-spy="scroll" data-target="#mainNav" data-offset="54">
<!-- +++++++++++++++++++++++++++++++About-us View+++++++++++++++++++++++++++++++++++ -->
<section id="about">
    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title"> About Us </h2>
                        <h3>
                            We are here to stay!
                        </h3>
                        <p style="font-size: 20px;">WeBuyNCook is division of menaonlinefood, it peforms exemplary
                            service in delivering delicious, healthy and nourishing food
                            to all our customers far or Near
                            We also perform outdoor cooking for your celebations and others. To see the list of all our
                            services, click <a href="#services">here</a>.
                            We believe you have enjoyed and will enjoy our services. For this we say, THANK YOU. </p>
                        <p style="font-size: 20px;"><span class="block-title"
                                style="font-size: 1.2em;">BuyingNCooking</span>
                            can be sometimes very tedious and time consuming we understand... so thats why we are
                            here to take the burden off your shoulders and help you get what you want and satisfy your
                            Hunger. <span class="block-title" style="font-size: 1.2em;">WeBuyNCook</span>
                            the best for the best. </p>
                        <a id="link1" style="float: right;" href="#contact">Wanna Know More?</a>
                    </div>
                </div>

                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            <img class="about-main" src="images/banga.jpeg" alt="About Main Image" width="500"
                                height="500">
                            <img class="about-inset" src="images/egusi.jpeg" alt="About Inset Image" width="200"
                                height="200">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of About-Us View+++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++Menu View+++++++++++++++++++++++++++++++++++ -->
<section id="menu">
    <div class="menu-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
                            Our Menu
                        </h2>

                        <p class="title-caption text-center">Whether you’re in the mood for a hearty meal or you just want to
                            surprise your taste buds with a yummy appetizer or you need to get something from the market and the time
                            seems not to be there, Our menu will entertain every
                            palate and request. We are here just for that and we can offer you the meal just as mummy do make it.
                            browse through our menu and make your order today</p>
                    </div>
                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            <div class="tab-title-menu" id="2" onclick="menu(this.id)" style="width:190px">
                                <h4>Quick</h4>

                                <p><img src="images/soup" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="3" onclick="menu(this.id)" style="width:190px">
                                <h4>Soup</h4>

                                <p><img src="images/soupie" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="4" onclick="menu(this.id)" style="width:190px">
                                <h4>Fruits</h4>

                                <p><img src="images/fruit" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="5" onclick="menu(this.id)" style="width:190px">
                                <h4>Foodstuffs</h4>

                                <p><img src="images/food" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="11" onclick="menu(this.id)" style="width:190px">
                                <h4>Others</h4>

                                <p><img src="images/others" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                        </div>
                        <div class="slider slider-single">
                            <div id="result2">
                                {{#each qmenus}}
                                        <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            {{# each this}}
                                            <div class="offer-item overlay-image">
                                                <img src="{{this.imagePath}}" alt="" class="img-responsive"
                                                    style="width:130px; height:150px ">
                                                <div>
                                                    <h3>{{this.title}}</h3>
                                                    <p>
                                                    {{this.description}}
                                                    </p>
                                                    <a href="/addqmenu-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                                </div>
                                                <span style="font-size: 1.4em;" class="offer-price">&#x20A6;{{this.price}}</span>
                                            </div>
                                            {{/each}}
                                        </div>
                                {{/each}}
                            </div>
                            <div id="result3">
                                {{#each smenus}}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        {{# each this}}
                                        <div class="offer-item overlay-image">
                                            <img src="{{this.imagePath}}" alt="" class="img-responsive" style="width:130px; height:150px ">
                                            <div>
                                                <h3>{{this.title}}</h3>
                                                <p>
                                                    {{this.description}}
                                                </p>
                                                <a href="/addsmenu-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                            </div>
                                            <span style="font-size: 1.4em;" class="offer-price">&#x20A6;{{this.price}}</span>
                                        </div>
                                        {{/each}}
                                    </div>
                                {{/each}}
                            </div>
                            <div id="result4">
                                        {{#each frmenus}}
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                            {{#each this}}
                                            <div class="offer-item overlay-image">
                                                <img src="{{this.imagePath}}" alt="" class="img-responsive" style="width:130px; height:150px ">
                                                <div>
                                                    <h3>{{this.title}}</h3>
                                                    <p>
                                                        {{this.description}}
                                                    </p>
                                                    <a href="/addfrmenu-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                                </div>
                                                <span style="font-size: 1.4em;" class="offer-price">&#x20A6;{{this.price}}</span>
                                            </div>
                                            {{/each}}
                                        </div>
                                        {{/each}}
                            </div>       
                            <div id="result5">
                                {{#each fmenus}}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    {{# each this}}
                                    <div class="offer-item overlay-image">
                                        <img src="{{this.imagePath}}" alt="" class="img-responsive" style="width:130px; height:150px ">
                                        <div>
                                            <h3>{{this.title}}</h3>
                                            <p>
                                                {{this.description}}
                                            </p>
                                            <a href="#" class="btn btn-success pull-right" role="button">Order</a>
                                        </div>
                                        <span style="font-size: 1.4em;" class="offer-price">{{this.price}}</span>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/each}}
                            </div>
                            <div id="result11">

                       </div>        
                    
                        </div>
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++ End of Menu View+++++++++++++++++++++++++++++++++++ -->

<!-- +++++++++++++++++++++++++++++++Order View+++++++++++++++++++++++++++++++++++ -->
<section id="order">
    <div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box" style="width:100%; ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="pull-left"><a href=""><button class="btn btn-lg btn-success">Can't Find your Menu</button></a></h2>
                            <h2 class="block-title text-center">
                                Order Now
                            </h2>
                        </div>

                        <h4 class="form-title">BOOKING FORM</h4>
                        <p>PLEASE FILL OUT ALL FIELDS, All FIELDS ARE REQUIRED. THANKS!</p>
                        <form method="POST" action="/order" id="myformfirst">
                            <input type="hidden" name="_token" value="5mAHmKvnk5qrtsMnCQDqfoVEUx7lhpjVfqLbpeZG">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <select name="food_id" id="food_id">
                                        <option selected disabled>preferred Menu</option>
                                    {{#each qmenus}}
                                            {{# this}}
                                                <option name="food" value="{{this.title}}">{{this.title}}</option>
                                            {{/this}}
                                    {{/each}}
                                    {{#each frmenus}}
                                        {{# this}}
                                        <option name="food" value="{{this.title}}">{{this.title}}</option>
                                    {{/this}}
                                    {{/each}}

                                    {{#each smenus}}
                                    {{# this}}
                                    <option name="food" value="{{this.title}}">{{this.title}}</option>
                                    {{/this}}
                                    {{/each}}
                                    </select>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">

                                    <select name="no_of_persons" id="no_of_persons">
                                        <option selected disabled>No. Of persons</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <select name="occasion" id="occasion">
                                        <option selected disabled>Occasion</option>
                                        <option value="Personal">Personal consumption</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Anniversary">Anniversary</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="text" name="name" id="form_name" placeholder="Name"
                                        required="required">
                                </div>

                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="email" name="email" placeholder="Email" required="required">
                                </div>

                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="text" name="phone" placeholder="contact no." required>
                                </div>

                            </div>
                            <!-- end col -->

                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input name="date_picker" id="date-picker" placeholder="date"
                                        onfocus="(this.type='date')" onblur="(this.type='text')">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-box">
                                        <input name="time_picker" id="time-picker" placeholder="Time for delivery"
                                            onfocus="(this.type='time')" onblur="(this.type='text')">
                                    </div>

                                </div>
                                <!-- end col -->

                                <!-- end col -->

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="reserve-book-btn text-center">

                                        <div class="blog-btn-v" style="margin-bottom:100px">
                                            <input style="width: 100%;" type="submit" class="btn-lg btn-success center"
                                                value="Submit Order">
                                        </div>


                                    </div>
                                </div>
                                <!-- end col -->
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end reservations-box -->
                <h3 class="block-title text-center">Info about Ordering Time</h3>
                <ol style="padding: 10px;font-size:1.8em">
                    <li style="list-style: upper-roman;">The minimum ordering/preparation time for a plate of rice, Indomie or beans with plantain is one hour or any pre-odered plate of menu is one hour.</li> <br>
                    <li style="list-style: upper-roman;">A Basket of fruits or Pot of soup ordered and paid for before 11am each day will be ready for delivery or collection same day.</li><br>
                    <li style="list-style: upper-roman;">But a Basket of fruits or Pot of soup ordered and paid for after 11am will be ready for collection or delivery the
                    following day.</li><br>
                    <li style="list-style: upper-roman;">You have the options of collecting your Order at Mena Online Food Ordering Centre, Golden Tosrich Evenz Place, near
                    Matrix Petrol Station on Ondo Road, Akure Or of having your Order delivered to you in any part of Akure at N400
                    only.</li><br>
                    <li style="list-style: upper-roman;">No preparation, collection and delivery of items on SUNDAYS at Mena Online Food Ordering Centre.</li><br>
                    <li style="list-style: upper-roman;">Our services are from Monday to Saturday each week. Thanks.</li><br>
                </ol>
                
                <h3 class="block-title text-center">Events Ordering Info</h3>
                <ol style="padding: 10px;font-size:1.8em">
                    <li style="list-style:upper-roman">Please, in order to avoid stories, customers are encouraged to make their bookings and make full payment on time,
                    at least 2 weeks before the date of event. Call 08023173804 or whatsapp 08113892146 for your order.</li><br>
                    <li style="list-style:upper-roman">Please, note that anyone booking and making payment for an event or any occasion is encouraged to pay by transfer
                    or by cash deposit into Mena Account. Please, request for our account details.</li><br>
                    <li style="list-style:upper-roman">There is discount on the above prices when making bookings for large quantity of products for any event or
                    occasion. Thanks.</li><br>
                </ol>
                
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Order View+++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++Testimony View+++++++++++++++++++++++++++++++++++ -->
<section class="testimonies">
    <div class="container-fluid">
        <h1>Testimonies</h1>
        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/FB_IMG_1611968285076.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote>" Mena online food is unique among her peers. A great taste that makes you to come back for
                    more. A trial will convince you. "</blockquote>
                <h5>Adelaja Ebenezer</h5>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/promise.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote>"Have a taste of their service and you will come begging for more." <br></blockquote>
                <h5>Adesemoye Promise</h5>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/ope.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote> It is cooking mixed with mastery and kitchen discipline..." <br></blockquote>
                <h5>Aluko Opeyemi</h5>
            </div>
        </div>
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Testimony View+++++++++++++++++++++++++++++++++++ -->

<!-- +++++++++++++++++++++++++++++++Service View+++++++++++++++++++++++++++++++++++ -->
<section id="services" style="padding: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        Our Services
                    </h2>
                
                    <p class="title-caption text-center">Our flexible services ranges from cooking your pre-ordered dishes to even 
                        going to the market for you. We also render Trainings services, you would be taught by top-notch tutors who delivers 
                        their lecture in the most simple and receptive way
                    </p>
                </div>
                <div class="tab-menu menu" >
                    <div class="slider slider-nav" >
                        <div class="tab-title-menu" id="12" onclick="menu(this.id)" style="width:190px">
                            <h1>Meals</h1>
                        </div>
                        <div class="tab-title-menu" id="13" onclick="menu(this.id)" style="width:190px">
                            <h1>Food Stuff</h1>
                        </div>
                        <div class="tab-title-menu" id="14" onclick="menu(this.id)" style="width:190px">
                            <h1>Events Cooking</h1>
                        </div>
                        <div class="tab-title-menu" id="15" onclick="menu(this.id)" style="width:190px">
                            <h1>Trainings</h1>
                        </div>
                        <div class="tab-title-menu" id="16" onclick="menu(this.id)" style="width:190px">
                            <h1>Earn points and eat</h1>
                        </div>
                        <div class="tab-title-menu" id="17" onclick="menu(this.id)" style="width:190px">
                            <h1>Food Plans</h1>
                        </div>
                    </div>

                    <div class="slider slider-single">
                        <div class="result12 div1">
                            <p> Enjoy splendid, delicious mouth watering meals specially prepared for you. <br> From
                                Soups better than our
                                mama's soups to
                                Delicacies your stomach will never forget.
                            </p>
                            <a href="/#order" class="button1">Order Now! </a>
                        </div>
                        <div class="result13 div2">
                            <p>We know going to the maket is a little bit difficult. <br> So why dont you let us take
                                the burden from your
                                shoulders.</p>
                            <a href="/#order" class="button1"> Place your Order</a>
                        </div>
                        <div class="result14 div3">
                            <p>We cook for various types of events... <br> Weddings, burials, naming ceremonies and so
                                on. <br>
                                Book us now and you will see the smiles we will generate.
                            </p>
                            <a href="" class="button1">Book Us Now</a>
                        </div>
                        <div class="result15 div4">
                            <p>We train you how to cook the best meals and serve the best delicacies. <br> Get trained
                                and be a pro chef!
                            </p>
                            <a href="" class="button1">Get Trained</a>
                        </div>
                        <div class="result16 div5">
                            <p> We have devised a system to help you buy food even without no money.<br> Earn points by
                                referring friends
                                and family,
                                by the accumulation of points <br> from your concurrent orders and get deicious meals
                            </p>
                            <a href="" class="button1">Get started</a>
                        </div>
                        <div class="result17 div6">
                            <p>Select the suitable food plans for you <br> and see your delicious food served right on
                                time without any
                                delay.</p>
                            <a href="" class="button1">Pick A plan</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Service View+++++++++++++++++++++++++++++++++++ -->

{{> footer}}

</body>
<style>
    .tab-menu{
        background-color: #453 !important;
    }
    .tab-title-menu h1 {
        margin-top: 10px; 
        margin-bottom: 10px; 
        font-size: 5.4em;
    }

    #services{
        background-color: #453 !important;
        color: #fff !important;
        font-size: 0.2em;
    }
        .menu  p{
            margin-bottom: 25px;
            font-size: 20px;
            color: #fff !important;
            display:flex;
            margin: auto;
            margin-top: 17vh;
            align-items: center;
            justify-content: center;
            }
        .carousel a{
            text-decoration: none;
        }
        .carousel h1{
            font-size: 35px;
        }
        .carousel div{
            height: 40vh;
            width: 60vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
            padding: 5%;
        }
        .button1{
            color: white;
            padding: 15px;
            background-color: green;
            border-radius: 5px;
            display: flex;
            width: 20vw;
            margin-top: 5% !important;
            margin:auto;
            align-items: center;
            justify-content: center;
            bottom  : 0 !important;
        }
        .div1{
            background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../images/egusi.jpeg);
            height: 50vh;
            color: white;
            position: relative;
            background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
        .div2{
            background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../images/bac4.jpeg);
            height: 50vh;
            color: white;
            position: relative;
            background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
        .div3{
            background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../images/cook.jpeg);
            height: 50vh;
            color: white;
            position: relative;
             background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
        .div4{
            background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../images/c1.jpeg);
            height: 50vh;
            color: white;
            position: relative;
             background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
        .div5{
            background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../images/sop1.jpeg);
            height: 50vh;
            color: white;
            position: relative;
             background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
        .div6{
            background:linear-gradient(rgba(90, 61, 61, 0.5),rgba(0, 0, 0, 0.9)), url(../images/star.jpg);
            height: 50vh;
            color: white;
            position: relative;
             background-position: center; 
            background-size: cover;
            border-radius: 15px;
        }
    
</style>