{{> header}}


  <body data-spy="scroll" data-target="#mainNav" data-offset="54">
<!-- +++++++++++++++++++++++++++++++About-us View+++++++++++++++++++++++++++++++++++ -->
<section id="about">
    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title"> About Us </h2>
                        <h3>
                            We are here to stay!
                        </h3>
                        <p style="font-size: 20px;">WeBuyNCook is division of menaonlinefood, it peforms exemplary
                            service in delivering delicious, healthy and nourishing food
                            to all our customers far or Near
                            We also perform outdoor cooking for your celebations and others. To see the list of all our
                            services, click <a href="#services">here</a>.
                            We believe you have enjoyed and will enjoy our services. For this we say, THANK YOU. </p>
                        <p style="font-size: 20px;"><span class="block-title"
                                style="font-size: 1.2em;">BuyingNCooking</span>
                            can be sometimes very tedious and time consuming we understand... so thats why we are
                            here to take the burden off your shoulders and help you get what you want and satisfy your
                            Hunger. <span class="block-title" style="font-size: 1.2em;">WeBuyNCook</span>
                            the best for the best. </p>
                        <a id="link1" style="float: right;" href="#contact">Wanna Know More?</a>
                    </div>
                </div>

                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            <img class="about-main" src="images/banga.jpeg" alt="About Main Image" width="500"
                                height="500">
                            <img class="about-inset" src="images/egusi.jpeg" alt="About Inset Image" width="200"
                                height="200">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of About-Us View+++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++Menu View+++++++++++++++++++++++++++++++++++ -->
<section id="menu">
    <div class="menu-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
                            Our Menu
                        </h2>

                        <p class="title-caption text-center">Whether you’re in the mood for a hearty meal or you just want to
                            surprise your taste buds with a yummy appetizer or you need to get something from the market and the time
                            seems not to be there, Our menu will entertain every
                            palate and request. We are here just for that and we can offer you the meal just as mummy do make it.
                            browse through our menu and make your order today</p>
                    </div>
                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            <div class="tab-title-menu" id="2" onclick="menu(this.id)" style="width:190px">
                                <h4>Quick</h4>

                                <p><img src="images/soup" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="3" onclick="menu(this.id)" style="width:190px">
                                <h4>Soup</h4>

                                <p><img src="images/soupie" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="4" onclick="menu(this.id)" style="width:190px">
                                <h4>Fruits</h4>

                                <p><img src="images/fruit" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="5" onclick="menu(this.id)" style="width:190px">
                                <h4>Foodstuffs</h4>

                                <p><img src="images/food" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="10" onclick="menu(this.id)" style="width:190px">
                                <h4>Snacks</h4>

                                <p><img src="images/snack" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                            <div class="tab-title-menu" id="11" onclick="menu(this.id)" style="width:190px">
                                <h4>Others</h4>

                                <p><img src="images/others" width="50" height="70"
                                        style="margin-left: 70px; padding-top: 20px;"></p>
                            </div>

                        </div>
                        <div class="slider slider-single">
                    <div id="result2">
                        {{#each qmenus}}
                                <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    {{# each this}}
                                    <div class="offer-item overlay-image">
                                        <img src="{{this.imagePath}}" alt="" class="img-responsive"
                                            style="width:130px; height:150px ">
                                        <div>
                                            <h3>{{this.title}}</h3>
                                            <p>
                                               {{this.description}}
                                            </p>
                                            <a href="/addqmenu-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                        </div>
                                        <span style="font-size: 1.4em;" class="offer-price">&#x20A6;{{this.price}}</span>
                                    </div>
                                    {{/each}}
                                </div>
                        {{/each}}
                    </div>
                    <div id="result3">
                        {{#each smenus}}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                {{# each this}}
                                <div class="offer-item overlay-image">
                                    <img src="{{this.imagePath}}" alt="" class="img-responsive" style="width:130px; height:150px ">
                                    <div>
                                        <h3>{{this.title}}</h3>
                                        <p>
                                            {{this.description}}
                                        </p>
                                        <a href="/addsmenu-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                    </div>
                                    <span style="font-size: 1.4em;" class="offer-price">&#x20A6;{{this.price}}</span>
                                </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                            <div id="result4">

                            </div>
                            <div id="result5">
                            </div>
                            <div id="result10">
                            </div>
                            <div id="result11">

                            </div>
                        </div>
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++ End of Menu View+++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++Service View+++++++++++++++++++++++++++++++++++ -->
<section id="services">

</section>
<!-- +++++++++++++++++++++++++++++++End of Service View+++++++++++++++++++++++++++++++++++ -->



<!-- +++++++++++++++++++++++++++++++Order View+++++++++++++++++++++++++++++++++++ -->
<section id="order">
    <div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="block-title text-center">
                                Order Now
                            </h2>
                        </div>

                        <h4 class="form-title">BOOKING FORM</h4>
                        <p>PLEASE FILL OUT ALL FIELDS, All FIELDS ARE REQUIRED. THANKS!</p>
                        <form method="POST" action="/checkout" id="myformfirst">
                            <input type="hidden" name="_token" value="5mAHmKvnk5qrtsMnCQDqfoVEUx7lhpjVfqLbpeZG">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <select name="food_id" id="food_id">
                                        <option selected disabled>preferred Menu</option>
                                        <option name="food" value="5">Semo</option>
                                        <option name="food" value="6">Beans</option>
                                        <option name="food" value="7">Egusi Soup</option>
                                        <option name="food" value="8">Nigerian Stew</option>
                                        <option name="food" value="9">Okro Soup</option>
                                        <option name="food" value="10">Basket of Fruit</option>
                                        <option name="food" value="19">Pounded Yam</option>
                                        <option name="food" value="20">Fried Rice and Salad</option>
                                        <option name="food" value="21">Moserl and soup</option>
                                        <option name="food" value="22">Crate of egg</option>
                                        <option name="food" value="23">Carton of Indomie</option>
                                        <option name="food" value="24">Jollof rice</option>
                                        <option name="food" value="25">Garnished Jollof rice</option>
                                        <option name="food" value="26">Fried Rice</option>
                                        <option name="food" value="28">Garnished Fried Rice</option>
                                        <option name="food" value="29">Ofada Rice</option>
                                        <option name="food" value="30">Others</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">

                                    <select name="no_of_persons" id="no_of_persons">
                                        <option selected disabled>No. Of persons</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <select name="occasion" id="occasion">
                                        <option selected disabled>Occasion</option>
                                        <option value="Personal">Personal consumption</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Anniversary">Anniversary</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="text" name="name" id="form_name" placeholder="Name"
                                        required="required">
                                </div>

                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="email" name="email" placeholder="Email" required="required">
                                </div>

                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="text" name="phone" placeholder="contact no." required>
                                </div>

                            </div>
                            <!-- end col -->

                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input name="date_picker" id="date-picker" placeholder="date"
                                        onfocus="(this.type='date')" onblur="(this.type='text')"">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-box">
                                        <input name="time_picker" id="time-picker" placeholder="Time for delivery"
                                            onfocus="(this.type='time')" onblur="(this.type='text')">
                                    </div>

                                </div>
                                <!-- end col -->

                                <!-- end col -->

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="reserve-book-btn text-center">

                                        <div class="blog-btn-v">
                                            <input style="width: 100%;" type="submit" class="btn-lg btn-success center"
                                                value="Submit Order">
                                        </div>


                                    </div>
                                </div>
                                <!-- end col -->
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end reservations-box -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Order View+++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++Testimony View+++++++++++++++++++++++++++++++++++ -->
<section class="testimonies">
    <div class="container-fluid">
        <h1>Testimonies</h1>
        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/FB_IMG_1611968285076.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote>" Mena online food is unique among her peers. A great taste that makes you to come back for
                    more. A trial will convince you. "</blockquote>
                <h5>Adelaja Ebenezer</h5>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/promise.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote>"Have a taste of their service and you will come begging for more." <br></blockquote>
                <h5>Adesemoye Promise</h5>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="image-section">
                <img src="images/ope.jpg" alt="" height="150px" width="150px">
            </div>
            <div class="text-section">
                <blockquote> It is cooking mixed with mastery and kitchen discipline..." <br></blockquote>
                <h5>Aluko Opeyemi</h5>
            </div>
        </div>
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Testimony View+++++++++++++++++++++++++++++++++++ -->

{{> footer}}

</body>
<script>

</script>
