<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/css/profile.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link rel="shortcut icon" href="/images/menalogo.png" type="image/x-icon" />
        

    </head>

    <body>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="/">
                            <span class="icon"><img src="https://webuyandcook.com/images/logo.png" alt=""></span>
                            <span class="title">
                                <h2>Webuyndcook</h2>
                            </span>
                        </a>
            
                    </li>
                    <li>
                        <a href="/user/profile">
                            <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                            <span class="title">My Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                            <span class="title">Cart<span class="badge">{{session.cart.totalQty}}</span> </span>
                        </a>
                    </li>

                    <li class="active">
                        <a href="/user/profile/settings">
                            <span class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                            <span class="title">Settings </span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
                            <span class="title">Notifications</span>
                        </a>
                    </li>

                    <li class="blue">
                        <a href="#">
                            <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                            <span class="title">Help </span>
                        </a>
                    </li>


                    <li class="red">
                        <a href="/user/logout">
                            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                            <span class="title">Log-out </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <!-- Header -->
                <div class="topbar">
                    <div class="toggle" onclick="toggleMenu();"></div>
                    <div class="search">
                        <label>
                            <input type="search" placeholder="search here">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="user">
                        <a target="_blank" href="{{userImage}}"><img src={{userImage}} alt="no-image"></a>
                    </div>
                </div>
                <div class="details">
                    <div class="recentOrders" style="margin-top: 3%;">
                    <form method="" action="/update-user" >
                    
                        <h1>Change Profile Settings</h1>
                    
                        <fieldset>
                            <legend><span class="number">1</span>Your basic info</legend>
                            <label for="name">First-Name:</label>
                            <input type="text" id="fname" name="fname" value="{{firstName}} ">
                            <label for="name">Middle-Name:</label>
                            <input type="text" id="mname" name="mname" value="{{middleName}} ">
                            <label for="name">Last-Name:</label>
                            <input type="text" id="lname" name="lname" value="{{lastName}}">
                    
                            <label for="mail">Email:</label>
                            <input type="email" id="mail" name="email" value="{{email}}">

                            <label for="phone">Phone:</label>
                            <input type="number" id="phone" name="phone" value="{{phone}}">

                            <label for="address">Address:</label>
                            <input type="text" id="address" name="address" value="{{address}}">
                    
                            <label for="password">New Password:</label>
                            <input type="password" id="password" name="user_password" autocomplete="new-password">
                            
                            <label for="password">Confirm New Password:</label>
                            <input type="password" id="password" name="user_password" autocomplete="new-password">
                        </fieldset>
                        <button type="submit">Save Changes</button>
                    </form>
                    </div>
                    <div class="recentCustomers" style="margin-top: 5%;">
                            {{#if hasErrors}}
                            <div class="alert" style="background-color: red;color:white;padding: 10px;border-radius: 15px;text-align:center ">
                                {{#each errMsg}}
                                {{this}}<br>
                                {{/each}}
                                
                            </div>
                            {{/if}}
                            <div class="myProfile">
                                
                                    <div>
                                        <a target="_blank" href="{{userImage}}"><img class="imgBx" src={{userImage}} width="100" alt="no-image"></a>
                                    </div>
                                    <div class="myDetails">
                                    <div class="me">
                                        <h1 style="font-size: 1em;margin-bottom:0px">{{firstName}} {{lastName}}</h1>
                                        <h5>starter</h5>
                                    </div>
                                </div>
                                <div class="meDetailed" style="margin-top: 20%; margin-left:-40%">
                                <fieldset>
                                <h1 style="font-size: 1.2em;">Change your profile pix</h1>
                                    <form method="POST" action="/change-picture" id="form">
                                        <input type="file" name="img" id="img" accept="image/*" style="width: 100%;margin-bottom:10px;">
                                        <input type="hidden" name="userImage" id="userImage" value="null">
                                        <button style="cursor: pointer;"  type="button" class="btn btn-primary btn-sm" onclick="upload()">upload</button>
                                        <button style="cursor: pointer;"  class="btn btn-primary btn-sm" type="submit">save</button>
                                        <p id="text"></p>
                                    </form>
                                </fieldset>
                                </div>
                            </div>
                            
                    </div>

                    <!-- The core Firebase JS SDK is always required and must be listed first -->
                    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
                    
                    
                    <!-- TODO: Add SDKs for Firebase products that you want to use
                         https://firebase.google.com/docs/web/setup#available-libraries -->
                        <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-storage.js"></script>
                    
                    <script>
                        // Your web app's Firebase configuration
                        var firebaseConfig = {
                            apiKey: "AIzaSyBRoSVRBFTRhu_agOV0Zdrd8lP-ROYGeWk",
                            authDomain: "webuyandcook.firebaseapp.com",
                            projectId: "webuyandcook",
                            storageBucket: "webuyandcook.appspot.com",
                            messagingSenderId: "530337633431",
                            appId: "1:530337633431:web:efd66af167e04f5baa05d2"
                        };
                        // Initialize Firebase
                        firebase.initializeApp(firebaseConfig);
                    </script>
                    
                </div>
                
                <div class="topbar" style="bottom: 0 !important;position:fixed;background-color:#010;">
                    <div style="color: white;">&copy;2021 WebuyNCook.All Rights reserved</div>
                </div>
              
            </div> 
            
        </div>        

            <script>
                function toggleMenu() {
                    let toggle = document.querySelector('.toggle');
                    toggle.classList.toggle('active');
                    let navigation = document.querySelector('.navigation');
                    navigation.classList.toggle('active');
                    let main = document.querySelector('.main');
                    main.classList.toggle('active');

                }
                
            </script>
            <script src="../../javascripts/storage.js"></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
            <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
            
        
    </body>

</html>


<style>
    *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  overflow: visible !important;
}

form {
  min-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
.myDetails{
    margin: 0 !important;
    text-align: center;
    width: 100%;
    left: 0 !important;
    margin-left: -25% !important;
}

.imgBx{
margin-left: 22% !important;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: blue;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
 .badge{
        font-weight: 800;
        color: red;
        font-size: 0.8em;
        margin-left: 5px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
</style>